html{
    background-color:#680A0A;
}
body {
    background-color:white;
    width:600px;
    padding: 100px;
    margin: 0 auto;
    font-family: 'Open Sans;
    }
  
 .x{
     color: #680A0A;
 }
normal{
    font-family: 'Dosis', 
}
